doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Street Scenes London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Street Scenes

      section
        img(src="images/marestreet.jpg" height="90%")  

      section
        h2 Street Scenes
        h3 Organising friendly, public gatherings for all

      section
        img(src="images/lfields.jpg" height="90%")  

      section
        h2 5 years of street events
        h3 Many new friends
        h3 Proof people like street events and want to make them happen

      section
        img(src="images/patchteam.jpg" height="90%")

      section
        h2 All sorts of activities to entertain
        p ...
        img(src="images/blind-mate.png" width="70%")  

      section
        h2 Now we build a network of event organisers
        h3 Therefore, a Meteor app to facilitate the network

      section
        img(src="images/mvp.png" height="90%")

      section
        h2 mvp now in beta
        h3 1 User proposes events → emails sent to network
        h3 2 Others reply if they can help with event
        h3 3 If critical number can help, event is published
        h3 4 Confirmed events are published e.g. 
          a(href="https://www.facebook.com/street.scenes.london") facebook.com/street.scenes.london
      
      section
        img(src="images/mvp2.png" height="90%")

      section
        h2 Community project, needs contributors
        h3 I develop app alongside other project needs, in my spare time

      section
        h2 Will you help code this?!
        h3 Scope for everything from small commits to module building

      section
        h1
          | Features needed
          br
          h2 Event organiser basics

      section
        h2 Geolocation
        h3 For relevant event notifications, etc.

        h2 Reputation system
        h3 So people can trust others in network will help

        h2 General UX improvements

        h2 Testing, security, etc.

      section
        img(src="images/origami.jpg" height="90%")

      section
        h2 and join us on the streets!
        h3 
          a(href="https://www.facebook.com/street.scenes.london") facebook.com/street.scenes.london
        h3 
          a(href="https://twitter.com/street_scenes") twitter.com/street_scenes
        h3 
          a(href="http://www.streetscenes.org.uk") streetscenes.org.uk

      section
        img(src="images/patches.jpg" height="90%")

      section
        h2 Questions?

      section
        img(src="images/kneepatch.jpg" height="90%")

      section
        img(src="images/street-scenes-logo-small.png" width="20%")  
        br
        h2 Help and follow the project
        h3 
          a(href="mailto:info@streetscenes.org.uk") info@streetscenes.org.uk
        h3 
          a(href="https://www.facebook.com/street.scenes.london") facebook.com/street.scenes.london
        h3
          a(href="https://twitter.com/street_scenes") twitter.com/street_scenes
        h3 
          a(href="http://www.streetscenes.org.uk") streetscenes.org.uk

script(src='build/build.js')
